{% load static %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Cormorant:ital,wght@0,300..700;1,300..700&family=GFS+Didot&family=Instrument+Serif:ital@0;1&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'home/css/style.css' %}">

<nav>
    <a href="{% url 'home' %}" class="return"> VOLVER AL INICIO </a>
</nav>

<section>
    <h3 class="description-cruise"> CRUCERO {{ cruise.number }} - DESCRIPCION </h3>
    <p class="description-cruise"> {{ cruise.description }} </p>
    <p class="room-cruise"> Nro. de Habitaciones: {{ cruise.rooms }} </p>

    {% for room in rooms %}

        <article>
            <h3> {{ room.number }} </h3>
            <p> {{ room.availability }} </p>
            <button> <a href="{% url 'room:room_detail' room.pk %}"> VER MAS </a> </button>
        </article>

    {% endfor %}

    <p class="cruise-detail"> Estado del Crucero {{ cruise.availability }} </p>
    <p class="cruise-detail"> Precio: {{ cruise.price }} </p>

    <button class="manage-cruise"> <a href="{% url 'cruise:modify_cruise' cruise.pk %}"> MODIFICAR CRUCERO </a> </button> 
    <button class="manage-cruise"> <a href="{% url 'cruise:delete_cruise' cruise.pk %}"> ELIMINAR CRUCERO </a> </button>
</section>