<nav>
    <a href="{% url 'home' %}"> VOLVER AL INICIO </a>
</nav>

<article>
    <h3> HABITACION {{ room.number }} - DESCRIPCION </h3>
    <p> {{ room.description }} </p>
    <p> Crucero: {{ room.cruise }} </p>
    <p> Dormitorios: {{ room.bedrooms }} </p>
    <p> Baño: {{ room.bathroom }} </p>
    <p> Comedor: {{ room.dining_room }} </p>
    <p> Estado de la Habitacion: {{ room.availability }} </p>
    <p> Precio: {{ room.price }} </p>
    <button> <a href="{% url 'room:modify_room' room.pk %}"> MODIFICAR HABITACION </a> </button>
    <button> <a href="{% url 'room:delete_room' room.pk %}"> ELIMINAR HABITACION </a> </button>
</article>