/* ==================================================
Componentes reutilizados en todo el proyecto.
================================================== */

body {
    font-family: Barlow Condensed;
}

.name-cruise {
    font-family: Barlow Condensed;
}

.return {
    color: black;
    text-decoration: none;
}

/* ==================================================
home/templates/home.html
================================================== */

.create {
    background-color: #0035A5;
    border-radius: 4px;
    color: white;
    position: relative;
    padding: 6px;
    margin: 10px;
    left: 550px;
    text-decoration: none;
}